li{
    margin: 20;
    list-style-type: none;
    float: right;
    margin-top: 30;
    
}
ul{
    overflow: hidden;
    margin-bottom: 0;
}
#header{
    background-color: gold;
    margin-bottom: 0;
    }
#logo{
    float: left;
    margin-top: 20;
    margin-bottom: 0%;
    padding-left: 0;
}
#homepage{
    background-image: url('images/pexels-jordan-bergendahl-4607862.jpg');
    height: 600;
    width: 1050;
    background-size: cover;
    margin-top: 0;
}
